
#albumList {
  *zoom: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 10px 0;
  width: 100%;
}

* {
  word-wrap: break-word;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

li {
  font-size: 14px;
  min-height: 44px;
  position: relative;
  width: 100%;
  background: white;
}

li:after {
  content: " ";
  width: 100%;
  height: 0;
  border-bottom: 1px solid #000;
  font-size: 0;
  line-height: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}


#queue {
  position: fixed;
  right: 0;
  top: 0;
  width: 600px;
  height: 100%;
  background: rgb(232,232,232) ;
  /*margin-top: -2.5em; */
}

.encoding {
	color:red;
}

.ready {
	color:green;
}

#playerBox {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	/* Since the player itself isn't there or something */
	/* margin-bottom: 2em; */
    background:white;
    border-top: 1px solid #000;
}

#nowPlaying {
    font-size: 20px;
}

#player {
	width: 100%;
}

#flanBox {
	position: fixed;
	right: 0;
	bottom: 0;
	width: 10em;
    display: none;
}

#flanPic {
	width: 100%;
}

@media only screen and (max-width: 768px) {
  #queue {
    width: 90%;
    display: none;
  }
}
