#queue {
  position: fixed;
  right: 0;
  top: 30%;
  width: 30em;
  margin-top: -2.5em;
}

.encoding {
	color:red;
}

.ready {
	color:green;
}

#playerBox {
	position: fixed;
	right: 0;
	bottom: 70%;
	width: 30em;
	/* Since the player itself isn't there or something */
	margin-bottom: 2em;
}
#player {
	width: 100%;
}

#flanBox {
	position: fixed;
	right: 0;
	bottom: 0;
	width: 10em;
}

#flanPic {
	width: 100%;
}
